html {
  background-color: #dbd6cf;
  box-sizing: border-box;
  line-height: 1.5;
}

h1 {
  font-family: Bevan, serif;
  font-size: 2rem;
  color: #fff;
  margin: 0;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {

  display: inline-block;
  padding: .5em;
  font-family: sans-serif;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #713837;
  background-color: #713837;
}

ul > li {
  display: inline-block;
  font-family: sans-serif;
  list-style-type: none;
  text-align: center;
}

ul {
  padding-left: 0;
  margin: 0;
  text-align: center;
}

a:hover {
  background-color: #f33;
  border-color: #f33;
  border-radius: .3em;
}

.box {
  background-color: #79756f;
  border-top: 3px;
  border-bottom: 3px;
  border-style: solid;
  border-color: #595652;
  padding: .75em;
}
